---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coming soon | More4Nature">
	<div class="flex min-h-dvh flex-col">
		<header class="p-4 md:p-10">
			<picture>
				<source
					srcset="/logo-desktop.svg"
					media="(min-width: 1024px)"
					width="263"
					height="68"
				/>
				<source
					srcset="/logo-mobile.svg"
					media="(max-width: 1023px)"
					width="117"
					height="24"
				/>
				<img
					src="/logo-desktop.svg"
					width="263"
					height="68"
					alt="Logo More4Nature"
				/>
			</picture>
		</header>
		<main class="m-auto flex max-w-7xl flex-1 items-center p-4 md:py-10 lg:px-0">
			<div class="grid grid-cols-12">
				<div class="col-span-12 space-y-8 text-center text-blue-950 lg:col-span-8 lg:col-start-3">
					<h1 class="text-2xl md:text-8xl">Coming soon</h1>
					<p class="text-sm md:text-2xl">
						The more4nature programme is on a mission to trigger transformative change in
						conservation efforts regarding zero pollution, biodiversity protection and
						deforestation prevention by strengthening the role of citizens and communities.
					</p>
				</div>
			</div>
		</main>
		<footer class="p-4 md:p-10">
			<div class="float-right flex max-w-[470px] items-center space-x-2 text-right">
				<div class="font-serif text-2xs text-blue-950 lg:text-xs">
					This project has received funding from the European Union&apos;s Horizon Europe research and
					innovation programme under grant agreement No. 101133983
				</div>
				<picture class="shrink-0">
					<source
						srcset="/flag-of-europe.svg"
						media="(min-width: 1024px)"
						width="72"
						height="48"
					/>
					<source
						srcset="/flag-of-europe.svg"
						media="(max-width: 1023px)"
						width="38"
						height="26"
					/>
					<img
						src="/flag-of-europe.svg"
						width="72"
						height="48"
						alt="Logo European Commission"
					/>
				</picture>
			</div>
		</footer>
	</div>
</Layout>
